@model FastFood.Models.ViewModels.ItemVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ItemVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Item.Title" class="form-control" />
                <label asp-for="Item.Title" class="control-label"></label>
                <span asp-validation-for="Item.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label text-muted"></label>
                <textarea asp-for="Item.Description" class="form-control border-0  shadow" ></textarea>
            </div>
            <div class="form-group">
                <input asp-for="Item.Price" class="form-control" />
                <label asp-for="Item.Price" class="control-label"></label>
                <span asp-validation-for="Item.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Item.CategoryId" class="form-control" asp-items="@Model.CategoryList">
                    <option disabled selected>--Select Category--</option>
                </select>
                <label asp-for="Item.CategoryId" class="control-label"></label>
                <span asp-validation-for="Item.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Item.SubCategoryId" class="form-control" asp-items="@Model.SubCategoryList">
                    <option disabled selected>--Select Sub Category--</option>

                </select>
                <label asp-for="Item.SubCategoryId" class="control-label"></label>
                <span asp-validation-for="Item.SubCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" name="file" class="form-control" />
                <label asp-for="Item.ImageUrl" class="control-label"></label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'lists',  'searchreplace', 'table', 'visualblocks', 'wordcount',
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough  | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat'
        });
    </script>

    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
