@model IEnumerable<FastFood.Models.ViewModels.ItemVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Items</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table  class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>
                Sub Category
            </th>
            <th></th>
        </tr>
    </thead>

</table>
@section Scripts{
    <script src="~/js/Item.js"></script>
}