@model FastFood.Models.Coupon



<form asp-action="Delete" method="post" >
    <input asp-for="Id" hidden />
    <input asp-for="CouponImage" hidden />

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Coupon</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Title" class="p-0"></label>
            <input asp-for="Title" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Type" class="p-0"></label>
            <select asp-for="Type" disabled class="form-control" asp-items="@Html.GetEnumSelectList<CouponType>()">
            </select>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Discount" lass="p-0"></label>
            <input asp-for="Discount" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="MinimumAmount" lass="p-0"></label>
            <input asp-for="MinimumAmount" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="CouponImage" lass="p-0"></label>
            <input asp-for="CouponImage" type="file" name="file" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsActive" type="checkbox" disabled /> @Model.IsActive
            </label>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>


